body,
ul {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: #dfdfdf;
}

/* HEADER */

.header {
  margin: 0 auto;
  padding: 25px 0px 25px 100px;
  width: 100%;
  background: #4F3456;
  display: flex;
}

.header ul {
  display: flex;
  width: 50%;
}

.header ul li a {
  padding-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header ul li a:hover {
  color: rgb(189, 119, 255);
}

.header ul li a:active {
  color: rgb(224, 190, 255) !important;
}

.header ul li {
  list-style-type: none;
}

.connecte {
  color: white;
  text-shadow: 0 0 4px #00dcff96;
}

.session {
  width: 50%;
  text-align: right;
  padding: 0px 100px 0px 0px;
  /* font-weight: bold; */
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header ul li a.active {
  color: rgb(189, 119, 255);
}



/* CONTENU PAGES */

h1 {
  padding-left: 40px;
  width: 100%;
  text-align: center;
  margin: 50px 0px 50px 0px;
}

h2 {
  margin-bottom: 50px;
}

/* Connexion */
form button a {
  color: white !important;
}

.btn.btn-block {
  background: #7baa2e;
  border: none;
  color: white;
}

.inscription {
  background: #AB452E !important;
}

/* Actualités */

.custom-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card.custom-card {
  width: 30%;
  margin-bottom: 80px;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



/* BREKPOINT 768px STYLE POUR MOBILE */

@media (max-width: 768px) {

  body {
    background: linear-gradient(45deg, aliceblue, #ecd6ff);
  }

  /* HEADER */

  .session {
    width: 100%;
    text-align: center;
    padding: 25px 0px 0px 0px;
  }

  .header {
    width: 100%;
    background: linear-gradient(45deg, #d53838, #5b0000);
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;
  }

  .header ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .header ul li a.active {
    color: rgb(255 214 0);
  }


  label {
    font-style: italic;
  }

  h1 {
    font-family: math;
    padding: 0px;
  }

  .btn.btn-block {
    background: #df9000;
    color: white;
  }

  button,
  input {
    box-shadow: 5px 5px 5px #00000029;
  }

  input#photo_profil {
    box-shadow: none;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .card.custom-card {
    width: 90%;
    margin-bottom: 80px;
  }
}