body,
ul {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER */

.header {
    margin: 0 auto;
    padding: 25px 0px 25px 40px;
    width: 100%;
    background: brown;
}

.header ul {
    display: flex;
}

.header ul li a {
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header ul li a:hover {
    color: rgb(189, 119, 255);
}

.header ul li a:active {
    color: rgb(224, 190, 255) !important;
}

.header ul li {
    list-style-type: none;
}

/* CONTENU PAGES */

h1 {
    padding-left: 40px;
    width: 100%;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

h2 {
    margin-bottom: 50px;
}

/* Connexion */
form button a {
    color: white !important;
}

.btn.btn-primary.btn-block {
    background: #30c130;
    border: none;
}

.inscription {
    background: rgb(71, 119, 0) !important;
}

/* Actualités */

.custom-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}